html, body {
	height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

canvas {
  display: block;
}

input {
	width: 300px;
	height: 4em;
	padding-left: 0.5em;
	box-sizing: border-box;
}

button {
	width: 50px;
	height: 4em;
	margin-left: 0.5em;
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	canvas{
		width: 100%;
	}
}
